// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-portrait
- tab-landscape
- big-desktop


1em = 16px
*/

@mixin containerCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



@mixin respond($breakpoint) {
    @if $breakpoint ==phone {
        @media only screen and (max-width: 48em) {
            @content
        }

        ; //768px
    }

    @if $breakpoint ==tab-portrait {
        @media only screen and (max-width: 68.75em) {
            @content
        }

        ; //1100px
    }
    
    @if $breakpoint ==min-tab-portrait {
        @media only screen and (min-width: 68.75em) {
            @content
        }
        
        ; //1100px
    }
    @if $breakpoint ==tab-landscape-fit {
        @media only screen and (max-width: 78.125em) {
            @content
        }

        ; //1250px
    }
    @if $breakpoint ==tab-landscape {
        @media only screen and (max-width: 93.75em) {
            @content
        }
        
        ; //1500px
    }

    @if $breakpoint ==big-desktop {
        @media only screen and (min-width: 112.5em) {
            @content
        }

        ; //1800px
    }
}


