.header__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 12rem 0;
    width: 55%;

    &-tip{
        letter-spacing: .035rem;
        border-radius: .8rem;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.23rem;
        background: var(--base-white);
        padding: .4rem 1rem;
        color: var(--primary-blue);
        text-align: center;
    }

    &-heading{
       text-align: center;
       font-size: 7rem !important;
       margin-top: 4rem;

       &-highlight{
            background-image: linear-gradient(90deg, var(--color-primary-light), var(--color-primary) 50%, var(--color-primary-dark));
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
       }
    }
    
    @include respond(tab-landscape-fit) {
        &-heading {
            font-size: 6rem !important;
        }
    }
    @include respond(tab-portrait) {
        &-heading {
            font-size: 5rem !important;
        }
    }
    @include respond(phone) {
        &-heading {
            font-size: 4rem !important;
            width: 70%;
        }
        &-paragraph {
            margin-top: 2rem;
            font-size: 2rem;
            width: 80%;
        }

        .header__main-btn {
            font-size: 2rem;
            width: 90%;
            text-align: center;
        }
    }


    &-paragraph{
        margin-top: 2rem;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
        width: 80%;
    }

    
    @include respond(phone) {
        & {
            width: 100%;
        }
    }
}

.header__main-btn{
    font-size: 1.5rem;
}

.header__main-trust-link {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
    padding-top: 2rem;
    color: var(--color-grey-dark-3);


    & > *:not(:last-child){
        border-right: 1px solid var(--color-grey-light-4);
        padding-right: .8rem;
    }
}

.header__main-trustbadge{
    display: flex;
    align-items: center;
    padding: 4rem 3rem;

    & p{
        font-size: 1.75rem;
        width: 20%;
        color: var(--color-grey-dark-4);
    }

    & marquee img{
        width: 15%;
        gap: 5rem;
        object-fit: contain;
    }


    @include respond(tab-portrait) {
        & {
            flex-direction: column;
        }

        & p {
            width: 100%;
            text-align: center;
            padding-bottom: 2rem;
        }
    }
}


