.header{
    background-image: url(/assets/bg--1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5rem;


    &__nav{
        display: flex;
        justify-content: space-between;
        // gap: 2rem;
        align-items: center;
        padding: 1rem 2rem;
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        transition: all .3s;
        // flex-wrap: wrap;

        &.sticky{
            background: var(--base-white);
        }

        // #nav__button {
        //     display: none;
        // }

        @include respond(min-tab-portrait) {
            #nav__button {
                display: none;
            }
        } 
    }

    &__nav-content{
        display: flex;
        gap: 3rem;
        
        img {
            width: 13rem;          
        }
    }
    &__nav-image {
        width: 80%;
    }


    &__nav-links {
        display: flex;
        // flex: 0 1 650px; // grow shrink flex-basis
        font-weight: normal;
        
        @include respond(tab-portrait) {
            & {
                display: none;
            }
    
            
    
        }
    }


    &__nav-links li{
        list-style-type: none;
        font-size: 1.2rem;
        margin: .8rem;

        & a{
            text-decoration: none;
            color: var(--color-grey-dark-4);
            display: flex;
        }

        a:hover{
            color: var(--primary-blue);
            font-weight: 600;
        }
    }


    &__nav-btn-links{
        display: flex;
        align-items: center;
        // flex: 1;

        

        & a {
            text-decoration: none;
            font-size: 1.2rem;
            margin: .8rem;
            color: var(--color-grey-dark-4);
            font-weight: 400;

            &:nth-child(2){
                border-left: 1px solid var(--color-grey-light-4);
                padding-left: 0.8rem;
            }

            &:hover > *:not(:last-child) {
                color: var(--primary-blue);
                font-weight: 600;
            }

            // @include respond(tab-landscape-fit) {
            //    & a:not(:last-child){
            //         display: none;
            //     }

            // }
            // @include respond(tab-portrait) {
            //     &:nth-child(1) {
            //         display: none;
            //     }

            // }


            
        }


        // @include respond (tab-portrait) {
        //     & {
        //         display: block;
        //         position: absolute;
        //         top: 50%;
        //     }
        // }
        
        
        
    }

    & button {
        border: none;
        outline: none;
        background: transparent;
    }
    .bx-menu {
        font-size: 4rem;
        cursor: pointer;
    }
    @include respond (tab-portrait) {
        &__nav-btn-links>*:not(:last-child) {
            display: none;
        }
    }

}


.toggle {
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: var(--base-white);
    position: absolute;
    top: 100%;
    width: 100%;
    right: 0;
    margin: 0;
    align-items: flex-start;
    

    .additional-info {
        top: 100%;
        width: 100%;
        margin-left: -20px;
        z-index: -999;
        background: var(--base-white);
        // overflow-y: scroll;

    }

    .sub_link_texts {
        flex-direction: column;
        padding: .2rem 0;
    }
    // .header__nav-btn-links>*:not(:last-child) {
    //     display: flex;
    //     position: absolute;
    //     background: red;

        
    // }

    .sub_links_dropdown{
        & h3 {
            padding-top: 25%;
        }

        &__2 {
            margin-top: 5%;
        }
    }
    



}




.additional-info {
    display: none;
    position: absolute;
    top: 60% !important;
    left: 0;
    background: var(--base-white);
    margin-left: 20px;
    border: 1px solid var(--color-grey-dark-3);
    width: 70%;
    border-radius: 20px;
    z-index: 999;
    height: auto;

}

.header__nav-links li:hover .additional-info {

    
    @include respond (min-tab-portrait) {
        display: block;
        animation: .5s slideDown ease-in-out;
    }

}


.header__nav-links li:hover .bxs-chevron-down{
    @include respond (min-tab-portrait) {
        animation: rotates .6s ease-in;

    }
}


.sub_links_dropdown {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    width: 100%;

    & h3{
        padding: 1rem 2rem;
        color: var(--primary-blue);
        opacity: .7;
        font-size: 1.2rem;
    }
    &__2 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        width: 100%;
    }
}


.sub_link_texts{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.80rem;
    padding: .5rem 1.5rem;
    margin-top: .8rem;
    font-family: var(--font-family);
    position: relative;
    // animation: all 5s;

    & .bx{
        font-size: 2.2rem;
        color: var(--color-grey-light-2);
        background: var(--header-alice-blue);
        padding: 0.5rem;
        border-radius: 8px;
        // fill: var(--color-grey-light-1) !important;
    }
    & h3{
        width: 100%;
    }

    & h4{
        position: relative;
    }
    & .arrow{
        transform: translateX(-5px);
        position: absolute;
        visibility: hidden;
        
    }
    &:hover{
        color: var(--primary-blue);
        cursor: pointer;
        background: rgba(186, 228, 243, 0.08);

        & .bx{
            color: var(--base-white);
            background: var(--primary-blue);
        }
        & .arrow{
            visibility: visible;
            width: 100%;
            transform: translateX(5px);
            animation: slideArrow .6s ease-in-out;
        }
    }
}

.sublink_dropdown_footer{
    background-image: var(--gradient-primary);
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 30px;
    color: var(--base-white);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1.6rem;
    font-size: 1.2rem;
    font-family: var(--font-family);

    & p:not(:last-child) {
        border-right: 1px solid var(--base-white);
        padding-right: 1.3rem;
        
    }
}

.header__heineken-container{
    background-color: var(--header-alice-blue);
    display: flex;
    flex-direction: column;
    width: 30%;
    align-self: stretch;
    border-top-right-radius: 20px;

    &-image{
        width: 100%;
        // height: 300px;
        // padding-top: 20px;
        margin-top: 5%;
        object-fit: contain;
        display: block;
        margin: auto;
        border-radius: 10px;
    }

    &-text{
        padding-left: 30px;
    }
}



// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Navigation Ends here >>>>>>>>>>>>>>>>>>>>>>.

